<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardbe">

    <application
        android:theme="@style/cardBeTheme">
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Master Degree">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".Projects"></activity>
    </application>

</manifest>